// font colors
$font-color-black: #000;
$font-color-white: #fff;

// colors
$color-yellow: rgb(255 217 7);
$color-dark-blue: rgb(60 68 151);
$color-dark-blue-hover: rgb(84 94 209);
$color-grey: rgb(246 246 246);
$color-green: rgb(177 199 40);
$color-red: rgb(255 25 31);

// devices
$breakpoint-lg: 120rem;
$breakpoint-md: 85.37rem;
$breakpoint-sm: 64rem;
$breakpoint-xs: 48rem;
$breakpoint-xxs: 23.437rem;