@font-face {
  font-family: Circe;
  src: local('Circe'), url('../../assets/fonts/Circe-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Circe;
  src: local('Circe'), url('../../assets/fonts/Circe-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}